@import url("./fonts.css");

:root {
  /*TEXTS*/
  --background-tw: #0282fe;
  --text-white:#fff;
  --border-1s:#2c2f3d;
  --background-divs:#1c1e26;
  --box-divs:#0000003b;
  --hover-divs:#262934;
  --button-ui1:red;
  --text-error:#ff7979;
  --text-check:#2fd49185;

  --loading-unenter:2px solid #ffffff6e;
  --loading-enter:2px solid #fff;

  --credits-color:#f8ef2b;
  --duckets-color:#dd3bce;
  --diamond-color:#6caff4;


  --skeleton-loading:#ffffff0d;

}


body{
  background: #111217 !important;
  font-family: "Inter Regular";
  overflow-x: hidden;
}

.headerIndex .logo{
  left: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  height: max-content;
  width: max-content;
  margin: auto;
}

.headerIndex{
  display: flex;
  background: var(--background-divs);
  padding: 5px;
  z-index: 9;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.formInput label{
  color: white;
}

.headerIndex .right{
  display: block;
  margin-left: auto;
  max-width: max-content;
  max-height: max-content;
  padding: 5px;
}

.buttonHeader{
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  list-style: none;
  border: 2px solid transparent;
}

.buttonHeader.greyLogin{
  background: #333748;
  color: var(--text-white);
  border: 2px solid #4c526b;
}

.buttonHeader.blueLogin{
  background: #3f3fff;
  color: var(--text-white);
  border: 2px solid #7e7eff;
}

.headerImage{
  display: block;
  width: 100%;
  height: 378px;
  background: url(/images/header.png);
  margin-top: -77px;
}

.login .center{
  display: block;
  background: transparent;
  max-width: 600px;
  margin: auto;
  margin-top: 53px;
}

.login .center .registerNow input{
  display: block;
  width: 100%;
  padding: 10px;
  font-family: "FoundersGrotesk Regular";
  border-bottom: 1px solid white;
  color: var(--text-white);
  outline: none;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  border-radius: 37px;
  border: 2px solid var(--border-1s);
  background: transparent;
}

.login .registerNow .title{
  color: white;
  font-size: 28px;
  font-family: 'FoundersGrotesk Bold';
  margin-bottom: 0px;
  text-align: center;
}

.login .registerNow .urlselect{
  color: var(--text-white);
  margin: auto;
  width: max-content;
  display: block;
  margin-bottom: 14px;
  font-family: 'FoundersGrotesk Bold';
}

.login .background-header .color{
  display: block;
    width: 100%;
    position: absolute;
    top: 0;

    z-index: -1;
    height: 490px;
}

.login .background-header .right{
  display: block;
  right: 0px;
  background: url(/images/right.png);
  width: 486px;
  height: 398px;
  position: fixed;
  bottom: -25px;
  background-position: center;
  filter: grayscale(1);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  animation: enterRight .5s ease;
}

@keyframes enterRight{
  from{
    transform: translateY(20px);
  }

  to{
    transform: translateY(0px);
  }
}

.login .modal{
  display: none;
}

.login .center-info{
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.login .registers .photo{
  height: 68px;
  background-repeat: no-repeat !important;
  border-radius: 90px;
  width: 68px;
  border: 1px solid #707070;
}

.login .registers:hover{
  background-color: var(--hover-divs);
  cursor: pointer;
  transform: scale(1.05);
}

.login .registers{
  background: var(--background-divs);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 11px var(--box-divs);
  display: flex;
  color: var(--text-white);
  width: 100%;
  transition: 0.5s;
  margin-bottom: 10px;
}

.login .registers p{
  margin-bottom: 0px;
}

.login .registers .name{
  margin-bottom: 5px;
  font-family: 'Inter Bold';
  font-size: 15px;
}

.login .registers .desc{
  font-size: 13px;
  opacity: 0.8;
}

.login .registersNow{
  display: grid;
  grid-template-columns: repeat(4,24.5%);
  grid-column-gap: 8px;
}

.login .registers .info{
  display: block;
  padding-left: 16px;
  width: 72%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.login .notice .image{
  width: 100%;
  height: 300px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.login .notice .info{
  display: block;
  position: absolute;
}

.login .notice{

  display: block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.login .notice .info{
  background: linear-gradient(180deg, #000000a1 10%, transparent 87%);
  color: var(--text-white);
}

.login .notice .info .desc{
  font-size: 13px;
  opacity: 0.9;
  line-height: 1;
}

.login .notice .info .title{
  font-family: 'FoundersGrotesk Bold';
  margin-bottom: 1px;
  font-size: 19px;
}

.padding{
  padding: 10px;
}

.text-title{
  color: var(--text-white);
}

.img-center-block{
  display: block;
  margin: auto;
}

.text-opacity{
  color: var(--text-white);
  opacity: 0.9;
}

.text-small{
  font-size: 12px;
  display: block;
}

.divnormal {
  background: var(--background-divs);
  border-radius: 12px;
  position: relative;
}

.gameNow{
  background: #1b671d;
  font-family: 'Inter Bold';
  border: 0px;
}



.login .registerNow .selectUser{
  display: block;
  position: relative;
}

.login .registerNow .gameNow{
  position: absolute;
  right: 4.6px;
  top: 4.9px;
  padding: 11px;
  font-size: 14px;
  border-radius: 92px;
  color: var(--text-white);
  line-height: 1.2;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
}



.button-large{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 90px;
  border: 0px;
}

.color-button-ui{
  background: var(--button-ui1);
  color: var(--text-white);
}

.gameNowBorder{
  background: #1b671d;
  border: 2px solid #28a42b !important;
  font-family: 'Inter Bold';
  border: 0px;
}

.form-input input{
  display: block;
  width: 100%;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid var(--border-1s);
  font-size: 13px;
  color: var(--text-white);
  outline: none;
}

.form-input input.error{
  border: 2px solid var(--text-error);
  color: var(--text-error);
}

@keyframes loadingCircle{
  from{
    transform: rotate(0deg);
  }

  to{
    transform: rotate(360deg);
  }
}

button .loading{
  display: none;
  animation: loadingCircle .4s linear infinite;
}

.button-large .loading{
  width: 16px;
  height: 16px;
  position: relative;
  border: var(--loading-unenter);
  border-bottom: var(--loading-enter);
  border-radius: 90px;
  top: 3.5px;
  left: 5px;
}

.await{
  opacity: 0.7;
  pointer-events: none;
}

.await .loading{
  display: inline-block;
}

.form-input input.check{
  border: 2px solid var(--text-check);
}

.form-input input:focus{
  border: 2px solid var(--background-tw);
}

.form-input {
  position: relative;
  margin-bottom: 20px;
}

.form-input .labelMovible{
  color: var(--text-white);
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  top: 12px;
  transition: .2s linear;
  left: 15px;
  padding-right: 11px;
  padding-left: 11px;
  z-index: 99;
}


.form-input input:focus ~ .labelMovible{
  top: -10px;
  background:var(--background-divs);
}

.form-input input:valid ~ .labelMovible{
  top: -10px;
  background:var(--background-divs);
}

.form-input .label-normal{
  color: var(--text-white);
  display: block;
  font-size: 14px;
  padding-left: 9px;
  margin-bottom: 5px;
}

.form-login .title{
  color: var(--text-white);
    font-size: 21px;
    font-family: 'Inter Bold';
}

.form-input .info{
  color: var(--text-white);
    opacity: 0.9;
    display: block;
    position: relative;
    margin-bottom: 6px;
    font-size: 12px;
}


.login .form-login{
  display: block;
  max-width: 894px;
  margin: auto;
  position: relative;
  height: max-content;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 70px;
}

.login .form-login .desc-right{
  color: var(--text-white);
  font-size: 14px;
  text-align: inherit;
  margin-bottom: 25px;
}

.login .focus{
  background: #13151b;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 17px;
}

.login .login-header{
  display: flex;
  position: relative;
}

.login .login-header .form-input{
  display: flex;
  margin-bottom: 0px;
  margin-right: 5px;
}

.login .login-header .form-input:last-of-type{
  margin-right: 0px;
}

.login .login-header .form-input .lock{
  display: inline-block;
  background:url("/images/lock.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 50px;
  height: 45px;
}

.login .login-header .form-input .lookUser{
  width: 54px;
  height: 42px;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  position: absolute;
  left: -52px;
}

.login .login-header .form-input .labelMovible{
  left: 12px;
}

.login .login-header .sign{
  display: block;
  height: max-content;
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
  border: 2px solid #43a0fa;
  margin-left: 10px;
  color: var(--text-white);
  background: var(--background-tw);
  font-family: 'Inter Bold';
}

.animation-enter{
  animation: animationEnter 1s ease;
}

@keyframes animationEnter{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.headerIndex .logo{
  cursor: pointer;
}

.pwfail{
  display: none;
  font-size: 14px;
}

.pwfail.error{
  display: block;
  color: var(--text-error);
  margin-bottom: 0px;
  text-align: center;
}

.form-input .icon-checkusername{
  display: none;
    position: absolute;
    right: 11px;
    top: 65px;
    bottom: 0;
    height: max-content;
    width: max-content;
    margin: auto;
}

.form-input .icon-checkusername.check{
  display: block;
}
.form-input .icon-checkusername.check svg{
  color: var(--text-check);
}


/*END LOGIN*/


/* HOME ME*/
.header-me .image{
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
  background: #203351;
}

.header-me .image .image-left{
  background: url(/images/backgroundLeft.png);
  width: 524px;
  height: 450px;
  display: block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: -247px;
  position: absolute;
}

.header-me .options{
  display: flex;
  flex-flow: wrap;
}

.header-me .options .space{
  display: block;
  width: 50%;
  background: var(--background-divs);
  position: relative;
  padding-right: 10px;
  padding-left: 10px;
}

.header-me .options .space .game{
  display: block;
  padding: 10px;
  background: #23b964;
  max-width: max-content;
  border-radius: 11px;
  padding-right: 15px;
  padding-left: 15px;
  border: 2px solid #23cb6c;
  color: var(--text-white);
  text-decoration: none;
  position: absolute;
  right: 26px;
  bottom: 0;
  top: 0;
  max-height: max-content;
  margin: auto;
  font-size: 14px;
}

.header-me .options .button{
  padding: 10px;
  color: var(--text-white);
  text-decoration: none;
  font-size: 13px;
  position: relative;
  transition: .5s ease;
  border-radius: 120px;
  margin-right: 5px;
}

.header-me .options .button::after{
  content: "";
  display: inline;
  height: 100%;
  width: 5px;
  border-right: 1px solid var(--border-1s);
  position: relative;
  left: 5px;
}


.header-me .options .button span{
  position: relative;
  font-family: 'Inter Bold';
}

.header-me .options .button img{
  position: relative;
  top: -3px;
}

.header-me .options .button:hover{
  background-color: var(--border-1s);
  padding-right: 15px;
  padding-left: 15px;
}

.header-me .options .button.active{
  background-color: var(--border-1s);
  padding-right: 15px;
  padding-left: 15px;
}



.margin-me{
  display: block;
  max-width: 1100px;
  margin: auto;
  margin-top: 15px;
}

.profile-small{
  display: block;
  border-radius: 12px;
  background: var(--background-divs);
  margin-bottom: 10px;
  overflow: hidden;
}

.profile-small .image{
  width: 100%;
  height: 251px;
  display: flex;
  background: url(/images/me/lobby.png);
  background-size: 152% 302%;
  background-position: center -336px;
  border-bottom: 1px solid var(--border-1s);
}

.profile-small .image .container{
  margin-left: 62px;
  margin-top: 43px;
  background: #00000096;
  padding: 10px;
  border-radius: 12px;
  color: var(--text-white);
  backdrop-filter: blur(20px);
}

.profile-small .wallet{
  display: flex;
  width: 100%;
}

.profile-small .wallet .value{
  width: 33.3%;
  color: var(--text-white);
  padding: 10px;
  text-align: center;
}

.profile-small .wallet .value.credits{
  filter: drop-shadow(1px 0px 22px #f7ef2a);
}

.profile-small .wallet .value.diamond{
  filter: drop-shadow(1px 0px 22px #6caff4);
}

.profile-small .wallet .value.duckets{
  filter: drop-shadow(1px 0px 22px #ff6fc6);
}

.profile-small .left .look{
  height: 213px;
  width: 150px;
  background-repeat: no-repeat !important;
  position: relative;
  left: 46px;
}

.news-container .news .image{
  height: 295px;
  border-radius: 12px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.news-container .news .image .information{
  padding: 10px;
  color: var(--text-white);
  background: linear-gradient(180deg, #00000091, transparent);
  height: 100%;
  position: relative;
}

.news-container .news .image .information .title{
  font-family: 'Inter Bold';
}

.news-container{
  margin-bottom: 10px;
}

.news-container .news{
  border-radius: 12px;
  overflow: hidden;
}

.news-container .news .image .view{
  display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: #0f101561;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    color: var(--text-white);
    padding-right: 15px;
    padding-left: 15px;
}

.container-me {
  display: block;
  padding: 10px;
  background: var(--background-divs);
  border-radius: 12px;
  margin-bottom: 10px;
}

.container-me .title{
  color: var(--text-white);
  padding-left: 5px;
  padding-top: 3px;
  font-size: 15px;
  font-family: 'Inter Bold';
}

.container-me .desc{
  color: var(--text-white);
  font-size: 12px;
  padding: 7px;
  opacity: 0.9;
}

.container-me .link-referido{
  display: block;
  max-width: max-content;
  margin: auto;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 97px;
  font-size: 14px;
  background: var(--border-1s);
}

.container-me .link-referido a{
  color: var(--text-white);
  text-decoration: none;
  opacity: 0.9;
  font-size: 14px;
}

.container-me .button-tw{
  display: block;
  width: 100%;
  margin-top: 15px;
  padding: 10px;
  font-size: 14px;
  border-radius: 94px;
  background: var(--background-tw);
  color: var(--text-white);
  border: 0px;
}

.container-me .redes{
  display: flex;
  padding: 10px;
  margin-top: -15px;
}

.container-me .redes span{
  width: 100%;
  background: red;
}

.container-me .redes a{
  font-size: 21px;
  padding-right: 10px;
  color: var(--text-white);
}

.container-me .friendsOnline{
  display: flex;
  flex-wrap: wrap;
}

.container-me .friendsOnline .nofound{
  color: var(--text-white);
    font-size: 14px;
    margin: auto;
}

.container-me .friendsOnline .friend{
  padding: 10px;
  display: block;
  text-align: center;
  width: 16.66%;
}

.container-me .friendsOnline .name{
  margin-top: 5px;
  display: block;
  position: relative;
  font-size: 14px;
  color: var(--text-white);
}

.container-me .friendsOnline .friend .look{
  width: 80px;
  height: 80px;
  border-radius: 118px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: var(--box-divs) !important;
}


.container-team .team{
  display: block;
  color: var(--text-white);
  padding: 4px;
  margin-bottom: 15px;
  border-top: 1px solid var(--background-divs);
  padding-top: 10px;
  position: relative;
}

.container-team .team:first-of-type{
  border-top: 1px solid transparent;
}

.container-team .team .title{
  font-family: 'Inter Bold';
}

.container-team .team .nofound{
  font-size: 12px;
  opacity: 0.8;
}

.container-team .team .badge{
  position: absolute;
  right: 0;
  top: 0;
  display: block;
}

.container-team .team .users .photo{
  width: 64px;
  height: 64px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-color: var(--background-divs) !important;
  border-radius: 99px;
  position: absolute;
  border: 1px solid var(--background-divs) !important;
}

.container-team .team .users .info{
  display: block;
  position: relative;
  padding-left: 81px;
  font-size: 14px;
  padding-bottom: 11px;
}

.container-team .team .users .info .username{
  font-family: 'Inter Bold';
  margin-bottom: 0px;
  font-size: 15px;
  color: var(--text-white);
}

.container-me .options-team a{
  display: block;
  text-align: left;
  text-decoration: none;
  font-size: 12px;
  color: var(--text-white);
  padding: 10px;
  font-family: 'Inter Bold';
  background-color: var(--border-1s);
  margin-bottom: 5px;
  border-radius: 25px;
  width: max-content;
}

.container-team .team .users .info span{
  display: block;
}

.container-team .team .users .info span.timeview{
  font-size: 13px;
}

.container-tops .title{
  color: var(--text-white);
  font-size: 16px;
  font-family: 'Inter Bold';
}

.container-tops .credits .title{
  color: var(--credits-color);
}

.container-tops .duckets .title{
  color: var(--duckets-color);
}

.container-tops .diamond .title{
  color: var(--diamond-color);
}

.container-tops .tops{
  padding: 10px;
  background: var(--background-divs);
  border-radius: 12px;
}

.top .photo{
  width: 50px;
  height: 50px;
  background-color: var(--background-divs) !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center;
  border-radius: 94px;
  position: absolute;
}

.container-tops .top .info{
  display: block;
  position: relative;
  padding-left: 55px;
  color: var(--text-white);
}


.container-tops .top .info .username{
  font-size: 15px;
  font-family: 'Inter Bold';
}

.container-tops .top .info span{
  display: block;
  font-size: 14px;
}



.container-tops .top{
  border-bottom: 1px solid var(--border-1s);
  padding-bottom: 10px;
  padding-top: 5px;
}

.container-tops .top:last-of-type{
  border-bottom: 1px solid transparent;
}

.container-tops .top.loading .photo{
  display: block;
  background-color: var(--skeleton-loading) !important;
}



.container-tops .top.loading .info p, .container-tops .top.loading .info span{
  background: var(--skeleton-loading);
  display: block;
  position: relative;
  width: auto;
  height: 10px;
  max-width: 150px;
  border-radius: 90px;
}

.container-tops .top.loading .info span{
  margin-bottom: 5px;
}


.container-tops{
  margin-bottom: 25px;
}

.container-tops .top.loading{
  display: block;
  opacity: 0.5;
  animation: skeletonLoading .5s ease infinite alternate;
}

@keyframes skeletonLoading{
  from{
    opacity: 0.5;
  }

  to{
    opacity: 1;
  }
}


/*END HOME*/