@import url("./fonts.css");

:root {
  /*TEXTS*/
  --background-tw: #0282fe;
  --text-white:#fff;
  --border-1s:#2c2f3d;
  --background-divs:#1c1e26;
  --box-divs:#0000003b;
  --hover-divs:#262934;
  --button-ui1:red;
}


body{
  background: rgb(15, 16, 21) !important;
  font-family: "Inter Regular";
  overflow-x: hidden;
}

.headerIndex .logo{
  height: 37px;
  position: relative;
  max-width: max-content;
  left: 32px;
}

.headerIndex{
  display: flex;
  background: var(--background-divs);
  padding: 5px;
  z-index: 9;
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
}

.formInput label{
  color: white;
}

.headerIndex .right{
  display: block;
  margin-left: auto;
  max-width: max-content;
  max-height: max-content;
}

.buttonHeader{
  padding: 10px;
  border-radius: 12px;
  font-size: 13px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 10px;
  list-style: none;
  border: 2px solid transparent;
}

.buttonHeader.greyLogin{
  background: #333748;
  color: var(--text-white);
  border: 2px solid #4c526b;
}

.buttonHeader.blueLogin{
  background: #3f3fff;
  color: var(--text-white);
  border: 2px solid #7e7eff;
}

.headerImage{
  display: block;
  width: 100%;
  height: 378px;
  background: url(/images/header.png);
  margin-top: -77px;
}

.login .center{
  display: block;
  background: transparent;
  max-width: 600px;
  margin: auto;
  margin-top: 53px;
}

.login .center .registerNow input{
  display: block;
  width: 100%;
  padding: 10px;
  font-family: "FoundersGrotesk Regular";
  border-bottom: 1px solid white;
  color: var(--text-white);
  outline: none;
  font-size: 20px;
  line-height: 0;
  text-align: center;
  border-radius: 37px;
  border: 2px solid var(--border-1s);
  background: transparent;
}

.login .registerNow .title{
  color: white;
  font-size: 28px;
  font-family: 'FoundersGrotesk Bold';
  margin-bottom: 0px;
  text-align: center;
}

.login .registerNow .urlselect{
  color: var(--text-white);
  margin: auto;
  width: max-content;
  display: block;
  margin-bottom: 14px;
  font-family: 'FoundersGrotesk Bold';
}

.login .background-header .color{
  display: block;
    width: 100%;
    position: absolute;
    top: 0;

    z-index: -1;
    height: 490px;
}

.login .background-header .right{
  display: block;
  right: 0px;
  background: url(/images/right.png);
  width: 486px;
  height: 398px;
  position: fixed;
  bottom: -25px;
  background-position: center;
  filter: grayscale(1);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.2;
  animation: enterRight .5s ease;
}

@keyframes enterRight{
  from{
    transform: translateY(20px);
  }

  to{
    transform: translateY(0px);
  }
}

.login .modal{
  display: none;
}

.login .center-info{
  max-width: 1200px;
  margin: auto;
  margin-top: 10px;
}

.login .registers .photo{
  height: 68px;
  background-repeat: no-repeat !important;
  border-radius: 90px;
  width: 68px;
  border: 1px solid #707070;
}

.login .registers:hover{
  background-color: var(--hover-divs);
  cursor: pointer;
  transform: scale(1.05);
}

.login .registers{
  background: var(--background-divs);
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0px 0px 11px var(--box-divs);
  display: flex;
  color: var(--text-white);
  width: 100%;
  transition: 0.5s;
  margin-bottom: 10px;
}

.login .registers p{
  margin-bottom: 0px;
}

.login .registers .name{
  margin-bottom: 5px;
  font-family: 'Inter Bold';
  font-size: 15px;
}

.login .registers .desc{
  font-size: 13px;
  opacity: 0.8;
}

.login .registersNow{
  display: grid;
  grid-template-columns: repeat(4,24.5%);
  grid-column-gap: 8px;
}

.login .registers .info{
  display: block;
  padding-left: 16px;
  width: 72%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.login .notice .image{
  width: 100%;
  height: 300px;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.login .notice .info{
  display: block;
  position: absolute;
}

.login .notice{

  display: block;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.login .notice .info{
  background: linear-gradient(180deg, #000000a1 10%, transparent 87%);
  color: var(--text-white);
}

.login .notice .info .desc{
  font-size: 13px;
  opacity: 0.9;
  line-height: 1;
}

.login .notice .info .title{
  font-family: 'FoundersGrotesk Bold';
  margin-bottom: 1px;
  font-size: 19px;
}

.padding{
  padding: 10px;
}

.text-title{
  color: var(--text-white);
}

.img-center-block{
  display: block;
  margin: auto;
}

.text-opacity{
  color: var(--text-white);
  opacity: 0.9;
}

.text-small{
  font-size: 12px;
  display: block;
}

.divnormal {
  background: var(--background-divs);
  border-radius: 12px;
  position: relative;
}

.gameNow{
  background: #1b671d;
  font-family: 'Inter Bold';
  border: 0px;
}



.login .registerNow .selectUser{
  display: block;
  position: relative;
}

.login .registerNow .gameNow{
  position: absolute;
  right: 4.6px;
  top: 4.9px;
  padding: 11px;
  font-size: 14px;
  border-radius: 92px;
  color: var(--text-white);
  line-height: 1.2;
  text-decoration: none;
  padding-right: 15px;
  padding-left: 15px;
}

.form-register{

}

.button-large{
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 90px;
  border: 0px;
}

.color-button-ui{
  background: var(--button-ui1);
  color: var(--text-white);
}

.gameNowBorder{
  background: #1b671d;
  border: 2px solid #28a42b !important;
  font-family: 'Inter Bold';
  border: 0px;
}

.form-input input{
  display: block;
  width: 100%;
  padding: 10px;
  background: transparent;
  border-radius: 10px;
  border: 1px solid var(--border-1s);
  font-size: 13px;
  color: var(--text-white);
}

.form-input {
  position: relative;
  margin-bottom: 20px;
}

.form-input .labelMovible{
  color: var(--text-white);
  font-size: 12px;
  position: absolute;
  pointer-events: none;
  top: 12px;
  transition: .2s linear;
  left: 15px;
  padding-right: 11px;
  padding-left: 11px;
  z-index: 99;
}


.form-input input:focus ~ .labelMovible{
  top: -10px;
  background:var(--background-divs);
}

.form-input input:valid ~ .labelMovible{
  top: -10px;
  background:var(--background-divs);
}

.form-input .label-normal{
  color: var(--text-white);
  display: block;
  font-size: 14px;
  padding-left: 9px;
  margin-bottom: 5px;
}

.form-login .title{
  color: var(--text-white);
    font-size: 21px;
    font-family: 'Inter Bold';
}

.form-input .info{
  color: var(--text-white);
    opacity: 0.9;
    display: block;
    position: relative;
    margin-bottom: 6px;
    font-size: 12px;
}


.login .form-login{
  display: block;
  max-width: 700px;
  margin: auto;
  position: relative;
  height: max-content;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-top: 70px;
}

.login .focus{
  background: #13151b;
  padding: 10px;
  border-radius: 16px;
  margin-bottom: 17px;
}

.login .login-header{
  display: flex;
  position: relative;
}

.animation-enter{
  animation: animationEnter 1s ease;
}

@keyframes animationEnter{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.headerIndex .logo{
  cursor: pointer;
}

/*END LOGIN*/


